/**
 * Flex Grid - enhanced, Polymer version (all rules have /deep/ combinator).
 */

@import "_flex-grid";

body /deep/ .row {
	@extend .row
}

/**
 * Build the grid in two steps, to help minimize file size
 * Step 1, for each namespace, create the grid-base
 * Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
@each $val in $fg-breakpoints {
	$namespace: nth($val, 1);
	body /deep/ {
		@include grid-base($namespace);
	}
}

@each $val in $fg-breakpoints {
	@if length($val) == 1 {
		$namespace: nth($val, 1);
		body /deep/ {
			@include grid-sizes($namespace);
		}
		
	} @else {
		$namespace: nth($val, 1);
		$size: nth($val, 2);
		
		@media only screen and (min-width: #{$size}) {
			body /deep/ {
				@include grid-sizes($namespace);
			}
		}
	}
}

// add class overrides
@each $val in $fg-breakpoints {
	$namespace: nth($val, 1);
	body /deep/ .force-#{$namespace} /deep/ {
		@include grid-sizes($namespace);
	}
}
